<% provide(:title,"bootstrap")%> 

<div class="center jumbotron">
<h1>Feedback</h1>
</div>

<h2>Feedback</h2>
<p style="border:3px; border-style:solid; border-color:black; background-color:#F5F0F4; width: 58%; padding: 1em; margin: 0px 0px 0px 60px; height: 20%;">
  Please provide your feedback on the food, dining experience, or your additional dietary needs.</p>
<br>
<form target="_blank" action="http://www.gmail.com"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate" >
       
  <textarea name="Feedback" rows="10" cols="60"> </textarea>
  <br>
  <input type="submit">
</form>

<br>