<h2>Contact</h2>
<p style="border: 1px solid black; width: 50%; background-color:white; padding: 5px; margin: 0px 0px 0px 15px;">Directly email chelseaconard_2018 [at] depauw.edu <strong>or</strong> complete the form below.<p>

<br>
   
<form target="_blank" action="http://www.gmail.com"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate">
        <fieldset>
          <legend>Personal information:</legend>
          First name:<br>
          <input type="text" name="FirstName" value="">
          <br>
          Last name:<br>
          <input type="text" name="LastName" value="">
          <br>
          Phone:<br>
          <input type="text" name="Phone" value="">
          <br>
          Email:<br>
          <input type="text" name="Email" value="">
          <br>
          Comments: <br>
          <input type="text" name="Comments" value="">
          <br><br>
          <input type="submit" value="Submit">
        </fieldset>
        
      </form>
      
    <br>
    <br>
    <br>
      
      
      
</body>
</html>