

<h2>Home</h2>

<%= image_tag "Chelsea2.jpg", :height=> 125, :width => 190, :class => "photoright" %>
<p>Welcome to Chelsea Conard's Homepage!</p>
<p>Chelsea is a recent graduate from DePauw University, graduating Phi Beta Kappa with a major in Economics and minors in Computer Science, French, and Chinese. Chelsea wants to learn about the Ethics of Artificial Intelligence, privacy-preserving technology, and work to understand how we can build an international agreement on cybersecurity policy. She intends to pursue a PhD in Information Systems and Management or follow an alternative professional goal to become a Chief Information Officer.</p>

<p>Research Skills: Python, Stata, HTML, MySQL, Ruby on Rails, C++ </p>



<br>
<br>
<br>

</body>
</html>


