

<h2>Home</h2>

<%= image_tag "Chelsea2.jpg", :height=> 125, :width => 190, :class => "photoright" %>
<p>Welcome to Chelsea Conard's Homepage.</p>
<p>Chelsea is a senior at DePauw University. She will receive a Bachelor's Degree in May 2018 with a major in Economics and minors in Computer Science, French, and Chinese. Chelsea is a Presidential Ambassador and in the Information Technology Associates and Management Fellows Programs.
 
 
Chelsea is interested in finding the balance between maintaining national security and preserving personal privacy. Upon graduation, she aspires to research privacy preserving technology and the ethics of artificial intelligence.</p>




<br>
<br>
<br>

</body>
</html>


