

<h2>Home</h2>

<%= image_tag "Chelsea2.jpg", :height=> 125, :width => 190, :class => "photoright" %>
<p>Welcome to Chelsea Conard's Homepage!</p>
<p>Chelsea is a recent graduate from DePauw University, graduating Phi Beta Kappa with a major in Economics and minors in Computer Science, French, and Chinese. She is interested in finding the balance between maintaining national security and preserving personal privacy. Upon graduation, she aspires to research privacy preserving technology and the ethics of artificial intelligence.</p>




<br>
<br>
<br>

</body>
</html>


