<% provide(:title,"bootstrap")%> 

<div class ="center jumbotron">
    <center><h2>Menu</h2><%= image_tag "menu.jpg", :height=> 450, :width => 450%></div></center>
<h1>Alpha Phi</h1>

<div class = "button">
<%= link_to "Sign Up", controller: "users", action: "new", class: "btn btn-lg btn-primary" %> 
</div>

</div>
