
<h2>About Chelsea Conard</h2>


<p>Chelsea Conard is an Economics major with minors in Computer Science, French, and Chinese from Indianapolis, Indiana. Passionate about business and technology, Chelsea is a Management Fellow and in the Information Technology Associates Program. She has completed a semester-long internship in Berlin with LNE Group and followed the experience with a 6-month study in Shanghai under the Boren Award. On campus, Chelsea is a Presidential Ambassador, an intern for Student Disability Services, a tutor for ENG 110, and an active member in Women in Computer Science and Women in Economics and Business. During her underclassmen years at DePauw, Chelsea was the first student president of Women in Economics and Business and was one of two students on the Search Committee for the Director of the McDermond Center for Management and Entrepreneurship. Her first Winter Term at DePauw, Chelsea had the privilege of interning at the European Parliament under a DePauw alumnus. Her most recent Winter Term, she participated in the DePauw Management Accelerated Program at Indiana University’s Kelley School of Business, a course designed for liberal arts students looking to complement their studies with technical knowledge. Chelsea is a member of Alpha Phi, Order of Omega, and Mortar Board.</p>

<br>
<u><h4>Personal Links</h4></u>
<p><a href="https://www.linkedin.com/in/chelseaconard">LinkedIn</a></p>
<p><a href="http://www.depauw.edu/admission/profile/chelsea-conard">DePauw Website Feature</a></p>

<p><%= link_to "Resume", asset_path("resume.pdf") %></p>




<br>
<br>
<br>

</body>
</html>