
<h2>News</h2>
<div class= "left">

<h3>Former Personal News</h3>
    <p style="border: 1px solid black; width: 21%; background-color:white; padding: 5px; margin: 0px 0px 0px 15px;">Click on the link to learn more.</p>
<br>
<table>
    
    <tr>
        <th>Year</th>
        <th>News Story</th>
    </tr>
    </tr>
        <td><p>2015</p></td>
        <td><p><a href="http://depauwtigers.com/sports/wsoc/2014-15/bios/conard_chelsea_jznm">DePauw Soccer</a></p></td>
    </tr>
        <td><p>2016</p></td>
        <td><p><a href="https://siliconangle.com/blog/2016/10/21/cs-x-industry-it-could-this-mixed-major-movement-solve-industry-tech-equation-ghc16/">Grace Hopper Conference Interview</a></p></td>
    </tr>
    </tr>
        <td><p>2016</p></td>
        <td><p><a href="https://www.depauw.edu/news-media/latest-news/details/32345/">Awarded Boren Award</a></p></td>
    </tr>
    </tr>
        <td><p>2016</p></td>
        <td><p><a href="https://medium.com/@ReigningIt/women-who-reign-chelsea-conard-5543656caefb">Women Reign Feature</a></p></td>
    </tr>
    </tr>
        <td><p>2017</p></td>
        <td><p><a href="https://www.depauw.edu/about/president/presidential-ambassadors/">Presidential Ambassador</a></p></td>
    </tr>

</table>
</div>
<div class= "right">
    <h3>Interesting Articles</h3>
</div>


<br>
<br>
<br>
<br>