
<h2>Research</h2>

    <p style="border: 1px solid black; width: 21%; background-color:white; padding: 5px; margin: 0px 0px 0px 15px;">Click on the link to learn more.</p>
<br>
<table>
    
    <tr>
        <th>Year</th>
        <th>Research Project</th>
    </tr>
        <td><p>2015</p></td>
        <td><p><a href="https://sites.google.com/a/depauw.edu/european-parliament-intern/">EPP Parliament Winter Term site</a></p></td>
    </tr>
    </tr>
        <td><p>2015</p></td>
        <td><p><%= link_to "Cybersecurity in the Private Sector (Geneva, Switzerland)", asset_path("Conard, 2015.pdf") %></p></td>
    </tr>
    </tr>
        <td><p>2017</p></td>
        <td><p><%= link_to "The Shanghainese Millennial's View on Data Privacy", asset_path("Capstone.pdf") %></p></td>
    </tr>
    
    
</table>

</body>
<br>
<br>
<br>



</html>