
<h1>Research</h1>

<h2>Past Research</h2>
<a href="https://sites.google.com/a/depauw.edu/european-parliament-intern/">EPP Parliament Winter Term site</a>
<br>
<a href="MASTER.docx">Cybersecurity in the Private Sector (Geneva, Switzerland)</a>

<br>

<h2>Recommended Topics</h2>
<h2>Recommended Research Topics</h2>



<br>
<br>
<br>
<br>
<br>

</body>
</html>