/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
*/


.container{
    margin-right:0px;
    margin-left:0px;
}

.photoright{
    float:right;
    padding-left: 1em;
    padding-bottom: 1em;
}

.right{
    float:left;

}

.left{
    float:left;
    margin-right: 3em;
  
}

.left2{
    float:left;
    margin-right: 2em;
    width: 40%;
  
}

.right2{
    float:left;
    width:53%;

}



.bottom{
    clear:both;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #F0EFEE;
    padding: 10px;
}

.picture{
    float:left;
    margin-left: 2em;
}

.jumbotron {
    background-color: #DFE2DB !important; 
    width: 100%;
    clear:both;
    margin-bottom: 0px;
}


.contact p a{
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}

#navlinks li {
    float: left;
    text-align:center;
}

#navlinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    clear: both;
    text-align:center;
}

#navlinks li a:hover {
    background-color: #111;
    text-align:center;
}


footer{
    clear:both;
    padding-bottom: inherit;
}

footer ul p{
    color: white;
    padding: 30px;
    float:left;
    font-size: 18px;
}

footer .contact{
    float:right;
    font-size: 18px;
}



body {
    background-color:#D3D0CE;
    font-family: 'Didot';
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}